/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Amita&family=Montserrat:wght@200;500&display=swap');

:root{
    --primary-color:#3aedc9;
    --dark-gray:#687280;
    --off-white:#F3F4F6;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
  

}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem; */

}
.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    position: fixed;
  top: 0;
  width: 100%;
    /* position: fixed;
    top: 0%;
    right: 0%;
    left: 0%; */
   
}
.navigation .nav-brand{
    font-weight: bold;
    color: chocolate;
    font-family: 'Amita', cursive;
   text-align: center;
   font-size: larger;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0%;
    width: 100%;
   
    
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer .link{
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}
.side-input,.angle-input{
display: block;
padding: 0.5rem;
border-radius: 1rem;
margin: auto;

}
.area,.Hypotenuse,.isTriangle{
   text-align: center;
}
#area-btn,#hypotenuse-btn,#is-triangle-btn,#submit-answer-btn{
    margin: 1rem;
    border-radius: 1rem;
}
#area-btn:hover,#hypotenuse-btn:hover,#is-triangle-btn:hover,#submit-answer-btn:hover{
    background-color: bisque;
    color: brown;
}
h1{
    text-align: center;
}
.image{
    height: 3rem;
    width: 3rem;
}
.link:hover{
    color: black;
    background-color:white;
    border-radius: 2rem;
}
.link2{
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 5rem; */

}
#output{
    text-align: center;
    color: rgb(196, 26, 142);
  
}
.main{
    margin-bottom: 20rem;
    margin-top: 9rem;
}